<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/hemsida.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
<header>
        <i class="material-icons outmenu">menu</i>
        <div class="login">Login</div>
        <div class="konto">Skapa konto</div>
             <div class="menu">
        </div>

<div class="hamburgare_meny">
    <i class="material-icons inmenu">menu</i>
    <div class="startsida">startsida</div>
    <div class="information">information</div>
    <div class="Traning">Träning</div>
    <div class="Oppetider">Öppetider</div>
    <div class="Gymkort">Gymkort</div>
</header>
<div class="container">
         <div class="middle"></div>
         <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, id! Quae veniam consequatur sit animi laudantium iste placeat, repellat nam similique dicta dolores corporis, aspernatur dolor et rerum ducimus commodi!</div>
         <div class="button"><Button class="bokapass">Boka pass</Button></div>
         <img src="img\gym.jpg" alt="gym.jpg" class="image"></div>
         </div>

</div>


<footer></footer>

<script scr="js/meny.js"></script>

</body>
</html>