<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/information.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
<header>
    <i class="material-icons outmenu" onclick="toggleMenu()">menu</i>
    <div class="login">Login</div>
    <div class="konto">Skapa konto</div>
   

    <div class="hamburgare_meny">
        <i class="material-icons inmenu" onclick="toggleMenu()">menu</i>
        <div class="startsida"><a href="index.html">startsida</a></div>
        <div class="information">information</div>
        <div class="Traning">Träning</div>
        <div class="Oppetider">Öppetider</div>
        <div class="Gymkort">Gymkort</div>
    </div>

</header>

    <div class="container">
        <div class="ul"></div>
            <h2>Vi har varit i igång sedan 1999 och vi fokuserar på att ge god kvalite på våra grupp träningar och trevliga lokaler som alla uppskatar</h2>
            <h2>Våra lokaler är fräscha och städas regelbundet för att hålla ett så högt mått som möjligt för att erbjusda fåra kunder ett så trevligt besök som möjligt</h2>
            <h2>Vårat mål har alltid varit att etbjuda våra kunder den bästa möjliga miljö och upplevelse som mjöligt, därför har vi investerat i de bästa tränarna och makiner som finns tillgänliga för våra kunder att använda</h2>


        </ul>
     
     
    </div>
    
<footer></footer>

<script src="js/meny.js"></script>


</body>
</html>