<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/information.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
<header>
    <i class="material-icons outmenu" onclick="toggleMenu()">menu</i>
    <div class="login">Login</div>
    <div class="konto">Skapa konto</div>
   

    <div class="hamburgare_meny">
        <i class="material-icons inmenu" onclick="toggleMenu()">menu</i>
        <div class="startsida">startsida</div>
        <div class="information">information</div>
        <div class="Traning">Träning</div>
        <div class="Oppetider">Öppetider</div>
        <div class="Gymkort">Gymkort</div>
    </div>

</header>
    
</body>
</html>