body{
    background-color: #31527F;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #00437F;
    block-size: 100px; 
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row: 6/7;
    background-color: 
}

div.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr); 
    width: 100vw;
    height: 100vh;
    margin: auto;

}

div.login{
    grid-column: 2/3;
    text-align: center;
    margin: auto;
    text-decoration-color: #FFFFFF;
   
}

div.konto{
    grid-column: 3/4;
    text-align: center;
    margin: auto;    
    
}

div.menu{
    grid-column: 1/2;
    grid-row: 1/1;
    text-align: center;
    margin: auto;
   
}

div.middle{
    grid-column: 1/4;
    grid-row: 2/7;
    background-color: #31527F; 
    text-align: center;
    text-decoration-color: #C5DEFF;
}

text.text{
    grid-row: 2/3; 
    grid-column: 2/3; 
    text-align: center;
    margin: auto;
    color: #C5DEFF;
    font-size: 20px;
}

div.button{
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: #31527F;
    align-self: center;
    margin: auto; 
    
    
}

Button.bokapass{
    background-color: #C5DEFF;
    text-align: center;
    color: #00357F;
    font-size: 15px;
    border-radius: 8px;
    height: 50px;
    
}

div.picture{
    display: grid;
    grid-row: 2/5;
    grid-column: 1/4;

}