div.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr); 
    background-color: rgb(202, 23, 17);
    width: 90vw;
    height: 90vh;
    margin: auto
}

div.login{
    grid-column: 2/3;
    text-align: center;
    margin: auto;
}

div.konto{
    grid-column: 3/4;
    text-align: center;
    margin: auto
    
}


